@use './clickable' as c;

.card {
	@include c.clickable();

	display: block;
	width: 3in;
	margin: 1em auto;
	padding: 1em;
	border-radius: 1em;
	border-style: solid;
	text-decoration: none;
}

@media (min-width: 8in) {
	.card-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		max-width: 10in;
		margin: auto;
	}
}
