.themed-cbox {
	input[type="checkbox"] {
		display: none;
	}

	.cbox-icon {
		margin: 0 0.25em;
	}

	input[type="checkbox"]:checked + .cbox-icon {
		color: var(--sys-theme-selected-item);
	}

	input[type="checkbox"]:disabled + .cbox-icon {
		color: var(--sys-theme-gray-text);
		opacity: 0.5;
	}
}
