.clickable {
	color: var(--theme-clickable-fg);
	background-color: var(--theme-clickable-bg);
	border: solid 1px;
	cursor: pointer;
}

.clickable:hover {
	color: var(--theme-clickable-hover-fg);
	background-color: var(--theme-clickable-hover-bg);
}

.clickable[disabled] {
	opacity: 0.5;
}

.clickable[disabled]:hover {
	color: var(--theme-clickable-fg);
	background-color: var(--theme-clickable-bg);
	cursor: initial;
}

.editable {
	color: var(--theme-editable-fg);
	background-color: var(--theme-editable-bg);
	border: solid 1px;
}
