@mixin clickable {
	color: var(--system-theme-button-text);
	background-color: var(--system-theme-button-face);
	border-color: var(--system-theme-button-border);
	border-width: 1px;
	cursor: pointer;
}
