body {
	margin: 0;
	color: var(--theme-page-fg);
	background-color: var(--theme-page-bg);
}

.nav-bar {
	background-color: var(--theme-banner-bg);
	color: var(--theme-banner-fg);
	text-align: right;
	border-bottom: solid 1px;
}

.nav-bar a {
	color: var(--theme-banner-fg);
	text-decoration: none;
}

.nav-bar > * {
	padding: 0.5em;
	display: inline-block;
}

.nav-bar > *:hover {
	background-color: var(--theme-banner-hover-bg);
	color: var(--theme-banner-hover-fg);
}

.nav-bar .menu {
	position: relative;
	text-align: center;
}

.nav-bar .menu .items {
	background-color: var(--theme-banner-bg);
	display: flex;
	flex-direction: column;
	visibility: hidden;
	position: absolute;
	top: 100%;
	right: 0;
	border: solid 1px;
}

.nav-bar .menu .items > * {
	padding: 0.5em;
	min-width: max-content;
}

.nav-bar .menu .items > *:hover {
	background-color: var(--theme-banner-hover-bg);
	color: var(--theme-banner-hover-fg);
}

.nav-bar .menu:hover > .items {
	visibility: visible;
}

.main {
	overflow: auto;
	padding: 0.5em;
}
