body, dialog {
	color: var(--sys-theme-canvas-text);
	background-color: var(--sys-theme-canvas);
}

html, body {
	margin: 0;
	padding: 0;
	height: 100vh;
}

body {
	display: flex;
	flex-flow: column nowrap;
}

.nav-bar {
	background-color: var(--theme-banner-bg);
	color: var(--theme-banner-fg);
	text-align: right;
	border-bottom: solid 1px;
	flex: none;
}

.nav-bar a {
	color: var(--theme-banner-fg);
	text-decoration: none;
}

.nav-bar > * {
	padding: 0.5em;
	display: inline-block;
}

.nav-bar > *:hover {
	background-color: var(--theme-banner-hover-bg);
	color: var(--theme-banner-hover-fg);
}

.nav-bar .menu {
	position: relative;
	text-align: center;
}

.nav-bar .menu .items {
	background-color: var(--theme-banner-bg);
	display: flex;
	flex-direction: column;
	visibility: hidden;
	position: absolute;
	top: 100%;
	right: 0;
	border: solid 1px;
}

.nav-bar .menu .items > * {
	padding: 0.5em;
	min-width: max-content;
}

.nav-bar .menu .items > *:hover {
	background-color: var(--theme-banner-hover-bg);
	color: var(--theme-banner-hover-fg);
}

.nav-bar .menu:hover > .items {
	visibility: visible;
}

.main {
	overflow-y: hidden;
	flex: auto;
}

::selection {
	background-color: var(--sys-theme-highlight);
	color: var(--sys-theme-highlight-text);
}

:link {
	color: var(--sys-theme-link-text);
}

:visited {
	color: var(--sys-theme-visited-text);
}

:any-link:active {
	color: var(--sys-theme-active-text);
}

input, textarea {
	accent-color: var(--sys-theme-accent-color);
	color: var(--sys-theme-field-text);
	background-color: var(--sys-theme-field);
	border-color: var(--sys-theme-button-border);
}

fieldset {
	border-color: var(--sys-theme-button-border);
}

button, input[type="submit"], select {
	color: var(--sys-theme-button-text);
	border-color: var(--sys-theme-button-border);
	background-color: var(--sys-theme-button-face);
}
