@use '../editor.scss';
@use 'sass:list';
@use 'sass:math';
@use '../clickable' as c;

/// gradient function to go from 0% to 100% [0, 10] (play around)
@function lightness($x) {
	@return 10% * $x;
}

@function gradient($h, $s) {
	$colors: ();
	@for $i from 0 through 10 {
		$colors: list.append($colors, hsl($h, $s, lightness($i)), $separator: comma);
	}

	@return $colors;
}

.colors {
	margin: 0.5em;
	display: grid;
	grid-template-columns: 1fr 20em;
	gap: 0.5em;
}

.color-indicator-label {
	@include c.clickable;
	max-width: 12em;
	padding: 0.5em;

	&.invalid {
		background-color: var(--system-theme-error);
		color: var(--system-theme-error-text);
	}

	&.selected {
		background-color: var(--system-theme-selected-item);
		color: var(--system-theme-selected-item-text);
	}
}

.color-indicator {
	cursor: pointer;
	background: linear-gradient(to right,
		gradient(var(--hue), var(--saturation))
		);
	border: solid thin var(--system-theme-canvas-text);
}
