@use "../clickable" as c;

.fixture {
  display: flex;
  flex-direction: column;
}

.tab-list-container {
  align-self: start;
  display: grid;
}

.tab-list {
  grid-area: 1/1/2/2;
  display: flex;
}

.dropdown {
  grid-area: 1/1/2/2;
  justify-self: start;
  padding: 1em;
  margin: 0;

  background-color: var(--system-theme-button-face);
  color: var(--system-theme-button-text);
  border-color: var(--system-theme-button-border);
}

.tab {
  visibility: hidden;
  width: max-content;
  margin: 0;

  @include c.clickable();
}

.tab.selected {
  background-color: var(--system-theme-selected-item);
  color: var(--system-theme-selected-item-text);
}

.tab-panel-container {
  border-style: solid;
  border-width: 1px;
  display: grid;
  overflow-x: auto;
}

.tab-panel {
  padding: 1em;
  grid-area: 1 / 1 / 2 / 2;
  visibility: hidden;
}

.tab-panel.selected {
  visibility: visible;
}

@media (min-width: 8in) {
  .dropdown {
    visibility: hidden;
  }

  .tab {
    visibility: visible;
    width: initial;
  }
}
