.card {
	display: block;
	max-width: 6in;
	margin: 1em auto;
	background-color: var(--theme-clickable-bg);
	color: var(--theme-clickable-fg);
	padding: 1.5em;
	border: solid 1px;
	border-radius: 1em;
	text-decoration: none;
}

.card:hover {
	background-color: var(--theme-clickable-hover-bg);
	color: var(--theme-clickable-hover-fg);
}
