fieldset {
	margin: 1em;
}

.color-preview {
	display: flex;
	justify-content: space-around;
	margin: 1em;
}

.color-preview input[type="color"] {
	width: 0.5in;
	height: 0.5in;
}

.color-info {
	max-width: max-content;
	margin: auto;
}

.color-info > span {
	margin: 1em;
}
