body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	color: var(--theme-page-fg);
	background-color: var(--theme-page-bg);
}

.nav-bar {
	background-color: var(--theme-banner-bg);
	color: var(--theme-banner-fg);
	text-align: right;
}

.nav-bar a {
	color: var(--theme-banner-fg);
	text-decoration: none;
}

.nav-bar > * {
	padding: 0.5em;
	display: inline-block;
}

.nav-bar > *:hover {
	background-color: var(--theme-banner-hover-bg);
	color: var(--theme-banner-hover-fg);
}

.nav-bar .menu {
	position: relative;
}

.nav-bar .menu .items {
	background-color: var(--theme-banner-bg);
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
}

.nav-bar .menu .items > * {
	padding: 0.5em;
	display: inline-block;
}

.nav-bar .menu .items > *:hover {
	/*background-color: var(--theme-banner-dark);*/
}

.nav-bar .menu:hover > .items {
	visibility: visible;
}

.main {
	overflow: auto;
	padding: 0.5em;
}
