@use '../editor.scss';
@use 'sass:list';
@use 'sass:math';

/// gradient function to go from 0% to 100% [0, 10] (play around)
@function lightness($x) {
	@return 10% * $x;
}

@function gradient($h, $s) {
	$colors: ();
	@for $i from 0 through 10 {
		$colors: list.append($colors, hsl($h, $s, lightness($i)), $separator: comma);
	}

	@return $colors;
}

.theme-color-edit {
	display: block;
	margin: 0.5em;

	&.selected::before {
		content: "*";
	}
}

.fgbg-editors {
	display: flex;

	fieldset {
		margin: 0.5em;
	}
}

.color-indicator {
	background-color: var(--color);
	border: solid 1px;
	border-radius: 0.5em;
	display: inline-block;
	width: 1em;
	height: 1em;
	margin: 0 0.5em;
}

button {
	border-width: thin;
	cursor: pointer;
}

input[type="text"] {
	border-width: thin;
}

.mappings {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.25em;
}

.theme-color-buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
