@use '../editor.scss';
@use 'sass:list';
@use 'sass:math';

/// gradient function to go from 0% to 100% [0, 10] (play around)
@function lightness($x) {
	@return 10% * $x;
}

@function gradient($h, $s) {
	$colors: ();
	@for $i from 0 through 10 {
		$colors: list.append($colors, hsl($h, $s, lightness($i)), $separator: comma);
	}

	@return $colors;
}

@mixin button-grid {
	display: grid;
	gap: 0.5em;
	margin: 0.5em;
}

.theme-color-buttons {
	@include button-grid;
	grid-template-columns: 1fr 1fr;
}

.palette-buttons {
	@include button-grid;
	grid-template-columns: repeat(3, 1fr);
}

.theme-color-edit, .colored-button {
	display: inline-flex;
	justify-content: space-between;

	&.invalid {
		background-color: var(--system-theme-error);
		color: var(--system-theme-error-text);
	}

	&.selected {
		background-color: var(--system-theme-selected-item);
		color: var(--system-theme-selected-item-text);
	}
}

.fgbg-editors {
	display: flex;

	fieldset {
		margin: 0.5em;
	}
}

.color-indicator {
	background-color: var(--color);
	border: solid 1px;
	border-radius: 0.5em;
	display: inline-block;
	width: 1em;
	height: 1em;
	margin: 0 0.5em;
}

button {
	border-width: thin;
	cursor: pointer;
}

input[type="text"] {
	border-width: thin;
}

.mappings {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.25em;
}

